/* ventas.css - estilos particulares */

.contenedor {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5em;
    background-color: #fff;
}

legend {
    padding: 0 0.5em;
    font-weight: bold;
    color: #11215A;
    font-size: 1.1em;
}

.fila {
    column-gap: 3em;
    row-gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}
input[type="text"],input[type="select"] {
    max-width: 200px;
}